@tailwind base;
@tailwind components;
@tailwind utilities;


/* Police locale Athelas (optionnelle) */
@layer base {

  @font-face {

    font-family: 'Athelas';
    src: url('./assets/fonts/Athelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
}

/* Utilitaire pour appeler la police Athelas à la demande */
@layer utilities {
  .font-athelas {
    font-family: 'Athelas', serif;
  }

}